<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Layout</title>
    <link rel="stylesheet" href="slogi.css">
</head>
<body>

    <div class="okvir">
        <header>Glava strani</header>
        <nav>Navigacija strani</nav>
        <div class="vsebina">
            <main>Glavna vsebina</main>
            <aside>Stranska pasica</aside>
        </div>
        <footer>Noga strani</footer>
    </div>

</body>
</html>