<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Layout</title>
    <link rel="stylesheet" href="slogi.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>

    <div class="okvir">
        <header>
            <img src="./slike/hp-white.svg" alt="Logo">
            <span>Moj naslov</span>
        </header>
        <nav>
            <ul>
                <li><a href="./">Domov</a></li>
                <li><a class="active" href="./vsebina.html">Vsebina</a></li>
                <li><a href="./kontakt.html">Kontakt</a></li>
                <li><a href="./literatura.html">Literatura</a></li>
            </ul>
        </nav>
        <div class="vsebina">
            <main>Glavna vsebina</main>
            <aside>Stranska pasica</aside>
        </div>
        <footer>
            &#169;
            2025
            <a href="./">www.moja-stran.si</a>
        </footer>
    </div>

</body>
</html>