:root {
    --border-radius: 50px;
    --color-green: #9d3993;
    --color-dark-green: #671b5d;
    --color-gray: #c6c6c6;
    --color-success: green;
    --color-error: red;
}
html,
body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
body {
    font-family: "Open Sans", sans-serif;
}
.okvir {
    max-width: 1000px;
    margin: 0 auto;
}
header {
    height: 150px;
    background-image: url('./slike/ozadje.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 30px;
}
header img {
    height: 80px;
    width: auto;
    margin-left: 30px;
}
header h1 {
    color: white; 
    font-size: 35px;
}
nav {
    background-color: var(--color-green);
}
nav ul {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}
nav a {
    color: white;
    background-color: var(--color-green);
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    transition: all .5s ease;
}
nav a.active,
nav a:hover {
    background-color: var(--color-dark-green);
}
.vsebina {
    display: flex;
    flex-flow: row nowrap;
}
main {
    padding: 10px;
    max-width: 700px;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

article {
    flex: 0 0 calc(33.33% - 20px);
    margin: 0;
    padding: 0;
    border-radius: var(--border-radius);
    box-shadow: 1px 1px 5px rgba(0,0,0,.25);
    transition: all .3s ease;
}
article:hover {
    box-shadow: 3px 3px 8px rgba(0,0,0,.25);
    transform: translate(0, -2px);
}

article figure {
    margin: 0;
    filter: sepia(1);
    transition: all 1s ease;
}
article figure figcaption {
    display: none;
}
article img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
article:hover figure {
    filter: sepia(0);
}
.posamezna-slika {
    width: 100%;
}
.posamezna-slika img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center
}
article section {
    padding: 20px;
}

article h2 {
    margin: 0;
    color: var(--color-green);
}
article time {
    color: var(--color-gray);
    font-size: 90%;
    font-style: italic;
}
article p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: calc(1.2 * 2);
    overflow: hidden;
    text-overflow: ellipsis;
}
article a {
    color: var(--color-green);
    text-decoration: none;
    position: relative;
}
article a:hover {
    color: var(--color-dark-green);
}
article a::after {
    content: '\21F0';
    margin-left: 5px;
    top: 1px;
    position: absolute;
}
article a:before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    background-image: linear-gradient(to right, var(--color-green), orange);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all .3s ease;
}
article a:hover::before {
    width: calc(100% + 18px);
}

aside {
    width: 300px;
    background-color: lightgray;
    padding: 30px;
}
aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
aside li {
    margin-bottom: 10px;
}
aside a {
    color: var(--color-green);
    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 5px;
    transition: all .3s ease;
}
aside a:hover {
    color: var(--color-dark-green);
}
aside img {
    width: 30px;
    height: 30px;
    object-fit: contain;
    object-position: center;
}

footer {
    height: 80px;
    color: white;
    background-color: var(--color-dark-green);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
footer a {
    color: white;
    transition: all .5s ease;
    margin-left: 5px;
}
footer a:hover {
    text-decoration: none;
}

.vrstica {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 5px 0;
}

.vrstica label {
    width: 100px;
    text-align: right;
}

.vrstica input,
.vrstica textarea {
    width: calc(100% - 100px);
    text-align: left;
}
form {
    display: block;
    width: 100%;
}
.gumb,
input[type="submit"] {
    border: none;
    display: inline-block;
    background-color: var(--color-green);
    color: white;
    padding: 10px;
    cursor: pointer;
    transition: all .5s ease;
    width: auto;
    border-radius: var(--border-radius);
    margin-top: 10px
}
input[type="submit"]:hover {
    background-color: var(--color-dark-green);
}

.obvestilo {
    display: block;
    position: fixed;
    width: 100%;
    text-align: center;
    left: 0;
    top: 0;
    right: 0;
    pointer-events: none;
    z-index: 999
}
.obvestilo span {
    padding: 10px;
    display: inline-block;
    color: white;
}
.obvestilo span.success {
    background-color: var(--color-success);
}
.obvestilo span.error {
    background-color: var(--color-error);
}